# Python venv
.venv/
venv/
env/

# Compilados Python
__pycache__/
*.pyc
.vite/

# IDE
.vscode/
.idea/
node_modules/
dist/
/app/frontend/dist/
/app/frontend/node_modules/

# Logs
*.log

# Datos sensibles
.env
.env.*
!.env.example
data/incidents.json
migrations/

# Archivos temporales
*.tmp
*.temp
.DS_Store
tmp/
tests/
docs/changes/